* {
  margin: 0;
  padding: 0;
  color: var(--cor-letras);
  font-family: "Cabin", sans-serif;
}

:root {
  --fundo-cor: #211951;
  --cor-secundaria: #836fff;
  --cor-borda: #15f5ba;
  --cor-letras: #f0f3ff;
}

body {
  height: 100vh;
  background-color: var(--fundo-cor);
}

main {
  align-items: center;
}

#rdr2__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#rdr2__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#ac2__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#ac2__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#bat__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#bat__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#uncharted4__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#uncharted4__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#mafia2__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#mafia2__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#edithfinch__img {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#edithfinch__img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#sotn {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#sotn:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#mass_effect {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#mass_effect:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#cybepunk2077 {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#cybepunk2077:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#gow2018 {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#gow2018:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#shadowofcolossus {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium ;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#shadowofcolossus:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#gta5 {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

#gta5:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.cabecalho {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: var(--cor-secundaria);
  flex-wrap: wrap;
}

.icons__header {
  width: 3rem;
}

.nav_top{
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--cor-secundaria);
}

.games_covers_home {
  width: 97vw;
  margin-top: 20px;
  padding-left: 75px;
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  box-sizing: border-box;
  padding-top: 75px;
}

#home{
  float: left;
}

#git{
  float: right;
}


.main_text{
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fundo_text{
  width: 35rem;
  height: 42rem;
  background-color: var(--cor-secundaria);
  box-shadow: 10px 10px #6657C5;
}



.text_p{
  display: flex;
  justify-content: center;
  padding-top: 84px;
  font-size: 20px;
  padding-left: 20px;
}

.titulo_sinopse{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 30px;
}

