* {
  margin: 0;
  padding: 0;
  color: var(--cor-letras);
  font-family: "Bebas Neue", sans-serif;
}

:root {
  --fundo-cor: #211951;
  --cor-secundaria: #836fff;
  --cor-borda: #15f5ba;
  --cor-letras: #fff6cf;
  --cor-titulo: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--fundo-cor);
}

main {
  align-items: center;
}

.img_default {
  width: 16.875rem;
  height: 21.09375rem;
  border-style: solid;
  border-width: medium;
  border-color: var(--cor-secundaria);
  transition: 0.2s ease-in-out;
}

.img_default:hover{
  cursor: pointer;
  transform: scale(1.05);
}


.cabecalho {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: var(--cor-secundaria);
  flex-wrap: wrap;
}

.icons__header {
  width: 3rem;
}

.nav_top{
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--cor-secundaria);
}

.games_covers_home {
  width: 97vw;
  margin-top: 20px;
  padding-left: 75px;
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  box-sizing: border-box;
  padding-top: 75px;
}

#home{
  float: left;
}

#git{
  float: right;
}


.main_text{
  color: var(--cor-letras);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.fundo_text{
  width: 35rem;
  height: 42rem;
  background-color: var(--cor-secundaria);
  box-shadow: 10px 10px #6657C5;
}



.text_p{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 26px;
  text-align: center;
  color: white;
}

.titulo_sinopse{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-size: 50px;
  color: var(--cor-titulo);
  font-weight: 800;
  text-shadow: 2px 2px var(--fundo-cor);
  text-align: center;
}

.img_second_screen{
  display: flex;
  padding-right: 20px;
  
}

@media only screen and (max-width: 1000px) {
    .second_screen{
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .fundo_text{
      width: 380px;
      padding-top: 10px;
      height: 100%;
    }

    .img_second_screen{
      padding-top: 70px;
      padding-bottom: 20px;
    }

    .img_second_screen:hover{
      cursor: default;
    }

    .text_p{
      padding-left: 10px;
    }

    .titulo_sinopse{
      text-align: center;
    }
}